{
  "$schema": "https://pg-language-server.com/latest/schema.json",
  "files": {
    "include": [
      "{{schema}}"
    ]
  },
  "linter": {
    "enabled": true,
    "rules": {
      "recommended": true
    }
  },
  "typecheck": {
    "enabled": true
  },
  "plpgsqlCheck": {
    "enabled": true
  },
  "format": {
    "ignore": [
      // need to ignore this because the formatter will remove the import directives
      "main.sql"
    ],
    // NOTE: https://pg-language-server.com/latest/features/formatting/#known-limitations
    // currently removes any comment blocks during formatting, so disable if you want comments
    // in the sql
    "enabled": true,
    "lineWidth": 120,
    "keywordCase": "upper",
    "constantCase": "upper",
    "typeCase": "upper"
  },
  "vcs": {
    "enabled": true,
    "clientKind": "git",
    "useIgnoreFile": true
  },
  "db": {
    // Database host address (default: "127.0.0.1")
    "host": "localhost",
    // Database port (default: 5432)
    "port": 5432,
    // Database username (default: "postgres")
    "username": "postgres",
    // Database password (default: "postgres")
    "password": "postgres",
    // Database name to connect to (default: "postgres")
    "database": "postgres",
    // Connection timeout in seconds (default: 10)
    "connTimeoutSecs": {{conn_timeout_secs}},
    // Schemas where code action statement execution is allowed (default: [])
    "allowStatementExecutionsAgainst": [
      "public",
      "testing"
    ]
  }
}
